$breakpoints: (
  desktop: 70.313em,
  middle: 31.25em,
);

@mixin mq($key) {
  $size: map-get(
    $map: $breakpoints,
    $key: $key,
  );

  @media only screen and (min-width: $size) {
    @content;
  }
}
