.project-card {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgba($color: #0b0b0b, $alpha: 0.9);
  border-radius: 4px;
  min-height: 360px;
  max-width: 360px;
  position: relative;

  &:hover {
    .title {
      text-decoration-color: hsl(var(--clr-blue));
      transform: scale(1.02);
    }

    .icon.svg {
      fill: hsl(var(--clr-blue));
    }

    .tags-list .tag {
      border-color: hsl(var(--clr-blue));
    }
    footer::after {
      opacity: 1;
    }
  }
  .header {
    display: flex;
    padding: 1em;
    padding-bottom: 0;
    border-radius: 4px 4px 0 0;

    a {
      &:hover .icon {
        opacity: 1;
      }
      &:first-of-type {
        margin-left: auto;
        margin-right: 1em;
      }
    }
  }

  .main {
    padding-inline: 2em;
    padding-bottom: 0;
  }
  .title {
    color: #ccd6f6;
    margin-block: 0.5em;
    text-align: left;
    font-size: 1.8rem;
    transition: text-decoration-color 250ms, transform 100ms;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-transform: none;
  }
  .content {
    color: #a8b2d1;
    font-size: 1.2rem;
    text-align: left;
  }

  footer {
    box-shadow: inset 0 0 0 0px rgb(255 255 255 / 60%),
      2px 10px 10px -10px rgb(255 255 255 / 30%);
    position: relative;
    padding: 0 1em 1em 1em;
    border-radius: 0 0 4px 4px;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      box-shadow: inset 0 0 0 0px hsl(var(--clr-blue), 60%),
        2px 10px 10px -10px hsl(var(--clr-blue), 30%);
      opacity: 0;
      transition: opacity 250ms;
    }
  }
}

.project-card.mobile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95)),
    var(--backgroundImage);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-card.desktop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: none;
  max-width: 960px;
  .project-preview-link {
    align-self: center;
    grid-row: 1/4;
    position: relative;
    min-height: 200px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 99%;
      border-radius: 4px;
      transition: width 500ms;
    }

    &.left {
      grid-column: 1/2;
      &::before {
        left: 5%;
        background: linear-gradient(
          to left,
          hsl(var(--clr-blue), 30%),
          rgba(0, 0, 0, 0.3) 20%
        );
      }
      img {
        margin-right: -20%;
        border-radius: 4px 0 0 4px;
      }
    }

    &.right {
      grid-column: 2/3;

      &::before {
        right: 5%;
        background: linear-gradient(
          to right,
          hsl(var(--clr-blue), 30%),
          rgba(0, 0, 0, 0.3) 20%
        );
      }

      img {
        margin-left: -20%;
        border-radius: 0 4px 4px 0;
      }
    }

    & img {
      max-width: 110%;
      position: relative;
      transition: filter 250ms;
      z-index: -1;
    }
  }
  .header,
  .main,
  footer {
    background-color: hsl(var(--clr-dark-blue), 98%);
    z-index: 1;
  }

  &:hover {
    box-shadow: none;
    .project-preview-link::before {
      width: 0;
    }
  }
}

.icon {
  width: auto;
  max-height: 32px;
  opacity: 0.7;
  transition: opacity 250ms;

  &.svg {
    fill: white;
    transition: fill 250ms;
  }
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em 0 0.5em 0;
  padding-inline: 1em;
  gap: 0.5em;

  .tag {
    color: #ccd6f6;
    opacity: 0.8;
    border: 1px solid rgba(255 255 255 / 30%);
    padding: 0.2em 0.6em;
    border-radius: 20px;
    transition: border-color 250ms;
  }
}
