@use '../abstracts' as *;

.page-home {
  .hero {
    padding: 30px 0 12px;

    h1 {
      margin-bottom: 12px;
    }

    p {
      color: var(--muted);
      max-width: 480px;
    }
  }

  .projects-section {
    padding-top: 40px;
  }
}
