@use '../abstracts/var' as *;

.inserter {
  border: 7px solid var(--grey);
  width: 200px;
  height: 2px;
  position: relative;

  .fake-disk {
    position: absolute;
    bottom: -450px;
    left: 0;
    box-sizing: border-box;
    border: 6px solid var(--grey);
    border-bottom-color: var(--main-active-background-color);
    border-radius: 5px;
    border-bottom-left-radius: 30px;
    box-shadow: -5px 10px 5px var(--main-active-background-color);
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: #fff;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.active {
      bottom: 0;
      height: 2px;
      opacity: 1;
      animation: disk 1000ms forwards;
    }
    &.reject {
      // opacity: 1;
      animation: reject 500ms forwards;
    }
    &.floppy {
      opacity: 1;
      animation: floppy 2000ms forwards;
    }
    &.floppyCopy {
      opacity: 1;
      animation: floppyCopy 2000ms forwards;
    }

    .circle {
      border: 4px solid var(--grey);
      border-radius: 50%;
      width: 25%;
      height: 25%;
    }

    .cover {
      position: absolute;
      bottom: 0;
      left: 28px;
      width: 50px;
      height: 35px;
      border: 4px solid var(--grey);
      border-bottom: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      background-color: #fff;

      .hole {
        width: 6px;
        height: 18px;
        background-color: var(--grey);
      }
    }
  }
}

@keyframes disk {
  0% {
    bottom: -450px;
    height: 200px;
    border-width: 6px;
  }
  50% {
    bottom: -198px;
    height: 200px;
    border-width: 6px;
  }
  100% {
    bottom: 0;
    height: 2px;
    border-width: 1px;
  }
}

@keyframes reject {
  0% {
    bottom: 0px;
    height: 2px;
    border-width: 1px;
    opacity: 1;
  }
  50% {
    bottom: -198px;
    height: 200px;
    border-width: 6px;
    opacity: 0.8;
  }
  100% {
    bottom: -450px;
    height: 200px;
    border-width: 6px;
    opacity: 0;
  }
}

@keyframes floppy {
  0% {
    bottom: 0px;
    height: 2px;
    border-width: 1px;
  }
  25% {
    bottom: -198px;
    height: 200px;
    border-width: 8px;
  }
  50% {
    bottom: -450px;
    height: 200px;
    border-width: 8px;
  }
  75% {
    bottom: -198px;
    height: 200px;
    border-width: 8px;
  }
  100% {
    bottom: 0px;
    height: 2px;
    border-width: 1px;
  }
}

@keyframes floppyCopy {
  0% {
    bottom: 0px;
    height: 2px;
    border-width: 1px;
  }
  25% {
    bottom: -198px;
    height: 200px;
    border-width: 8px;
  }
  50% {
    bottom: -450px;
    height: 200px;
    border-width: 8px;
  }
  75% {
    bottom: -198px;
    height: 200px;
    border-width: 8px;
  }
  100% {
    bottom: 0px;
    height: 2px;
    border-width: 1px;
  }
}
