.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 500px;
  height: 350px;
  list-style: none;
  padding: 0;

  .item {
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    font-family: "Press Start 2P";
    font-weight: 800;
    font-size: 1.4rem;
    margin: 0.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      font-family: "Press Start 2P";
      font-weight: 800;
      font-size: 0.9rem;
      color: var(--main-active-background-color);
      transition: color 250ms;
    }
    &::after {
      content: "<<";
      margin-left: 1rem;
    }
    &::before {
      content: ">>";

      margin-right: 1rem;
    }

    &.active {
      &::before,
      &::after {
        color: yellow;
      }
    }
  }
}
