@use '../abstracts' as *;

.about-me {
  color: #fff;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  text-align: left;
  padding-left: 0;
  height: auto;
  max-height: 100%;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  max-height: 100%;
  padding-left: 0;
  margin: 1rem 0;

  @include mq(middle) {
    grid-template-columns: min-content 1fr;
  }

  @include mq(desktop) {
    display: block;
    padding-left: 1rem;
    height: 350px;
  }

  dt {
    display: inline-block;
    margin: 1rem 0;

    @include mq(desktop) {
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }
  dd {
    display: inline-block;

    @include mq(middle) {
      margin-left: 0;
      &:last-child {
        grid-column: 1/3;
        margin-left: 40px;
      }
    }

    @include mq(desktop) {
      margin-left: 40px;
      &:last-child {
        margin-left: 1.5rem;
      }
    }
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    padding-right: 1rem;
    li {
      line-height: 1.7rem;
      font-size: 0.7rem;
    }
  }
  .link {
    color: #fff;
    transition: all 250ms;

    &:hover {
      color: yellow;
      text-decoration: none;
    }
  }
}
