@use '../abstracts' as *;

.contact {
  color: #fff;
  text-align: left;
  width: auto;
  height: 100%;
  font-family: "Press Start 2P";
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  @include mq(middle) {
    width: max-content;
  }

  @include mq(desktop) {
    width: 100%;
    padding: 2rem;
  }

  h1 {
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0;

    @include mq(desktop) {
      font-size: 2rem;
      margin-top: 0.5rem;
      padding: 0 1rem;
    }
  }
  .label {
    display: inline-block;
    margin: 1rem 0;
    font-size: 0.9rem;
    text-align: center;

    @include mq(desktop) {
      font-size: 1rem;
    }
  }
  .link {
    color: #fff;
    transition: all 250ms;

    &:hover {
      color: yellow;
      text-decoration: none;
    }

    &-email {
      font-size: 0.7rem;
      padding: 0;
      text-align: center;
      @include mq(desktop) {
        padding-left: 1rem;
        font-size: 1rem;
      }
    }
  }
  .social-site {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    .fa-linkedin {
      margin-right: 1rem;
    }
  }
}
